[workspace]
resolver = "2"

members = [
    "packages/thaumic-core",
    "apps/desktop/src-tauri",
    "apps/server",
]

[profile.release]
codegen-units = 1
lto = true
opt-level = "s"
panic = "abort"
strip = true
