.field {
  margin-block-end: 1rem;
}

.label {
  display: block;
  font-size: 0.75rem;
  color: var(--color-text-muted);
  margin-block-end: 0.25rem;
}

.select {
  width: 100%;
  padding-block: 0.5rem;
  padding-inline: 0.5rem;
  border-radius: 4px;
  background: var(--color-bg);
  color: white;
  border: 1px solid var(--color-border);
}

.description {
  font-size: 0.7rem;
  color: var(--color-text-muted);
  margin-block: 0.25rem 0;
}
