.actionButton {
  transition:
    background-color 0.2s ease,
    border-color 0.2s ease;
}

.spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.success {
  background-color: var(--color-success);
  border-color: var(--color-success);
}

.error {
  background-color: var(--color-error);
  border-color: var(--color-error);
}
